@import '../../styles/mixin.scss';

.candidate-details-timeline {
    position: relative;
    padding: 1rem 0;
    .ant-timeline-item {
        font-size: 1.3rem;
    }
    &-button {
        position: absolute;
        top: 0;
        right : 2rem;
    }
}