@import '../../styles/mixin.scss';

.create-appointment{
    &__container{
        .btn-primary {
            @include button-color-primary;
        }
        .input {
            .width-100 {
                width: 100%;
            }
        }
        .create-appointment-btn {
            @include flex(row, center, end)
        }
    }
    
}
