$breakpoint-small-screen: 768px;

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin border-button($color: var(--theme-color-primary)) {
  border: 1px solid $color;
}
@mixin background-color-primary{
  background-color: var(--theme-color-primary);
}
@mixin background-color-button {
  background-color: var(--theme-color-primary);
}

@mixin background-white {
  background-color: var(--theme-color-white);
}

@mixin text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex($direction: null, $align: null, $justify: null) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

@mixin font($size: null, $weight: normal, $color: null, $lineHeight: null) {
  font-weight: $weight;
  font-size: $size;
  @if $color {
    color: $color;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
}

@mixin text-align($align: 'left') {
  text-align: $align;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

@mixin width-height--full-100 {
  width: 100%;
  height: 100%;
}
@mixin width-height--full-vh{
  width: 100%;
  height: 100vh;
}
@mixin underline-pointer{
  text-decoration: underline;
  cursor: pointer;
}

@mixin margin-top-bottom($top: null, $bottom: null) {
  @if $top {
    margin-top: $top;
  }
  @if $bottom {
    margin-bottom: $bottom;
  }
}
@mixin border__box-shadow {
  border: 1px solid var(--theme-color-border);
  box-shadow: 0 0 3px var(--theme-color-item-shadow);
}

@mixin reset__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin hover-background-pointer {
  cursor: pointer;
  background-color: var(--theme-color-item-bg) ;
}
@mixin button-color-primary {
  background-color: var(--theme-color-primary);
  border-radius: 5px;
  border-color:var(--theme-color-border)
}