@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';

.view-cv {
  @include flex(column, center, center);
  &-navigation {
    button {
      @include button-color-primary;
    }
  }
}