@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';

.appointment-list{
    @include width-height--full-100;
    .create-appointment {
        padding: 1rem 0;
        .button{
            @include button-color-primary;
        }
    }
    .statistics-list {
        padding: 1rem;
    }
    .title-list{
        padding: 0.1rem 0;
        h2{
            @include font(2.2rem, 350, var(--theme-color-primary), 3rem)
        }
    }
    .filter-list {
        @include flex( row, center, space-between);
        padding: 1rem 0;
        .search {
            width: 30%;
        }
    }
    .table-list {
        .link {
            color: var(--theme-color-primary);
        }
        .tag {
            color: var(--theme-color-primary);
        }
    }
}
.candidate__ellipsis {
    @include flex(column, left, center);
    padding: 0.5rem;
    a {
        padding: 0.2rem 0;
    }
}